<!-- Body Start -->	
<main class="browse-section">				
	<div class="container">
		<div class="row">					
			<div class="col-md-12">
				<div class="main-heading">
					<h2>Our Blog</h2>
					<div class="line-shape1">
						<img src="/images/line.svg" alt="">
					</div>
				</div>
				<div class="plans150">
					<div class="row">
						<div class="col-lg-9 col-md-12">
							<div class="blog_item">
								<div class="blog_img">
									<img src="/images/blog/img-1.jpg" alt="">
								</div>
								<div class="blog_dt">
									<div class="blog_body">
										
										
										<div class="blog_left">
											
											<p>By <a href="#">John Doe</a></p>
										</div>
										<div class="blog_right">
											<span><%= post[i].createdAt.toString().substring(0,15) %></span>
										</div>
										<h4> 
											<%= post.title %>
										</h4>
										<p> content</p>
										<a href="/blog_single_view" class="read_btn">Read More</a>
									</div>
								
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-12">
							<div class="subscribe_blog">
								<div class="subscribe_body">
									<div class="blog_logo">
										<img style="height:51px; width:178px;" src="/images/eazzylogo.png" alt="">
									</div>
									<h3>Subscribe and Get Updates</h3>
									<form>
										<div class="form-group">
											<input type="email" class="blog10-input" placeholder="Email Address">
										</div>
										<button class="blogbtn142" type="submit">Subscribe Now</button>
									</form>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="blog_item">
								<div class="blog_img1">
									<img src="images/blog/img-2.jpg" alt="">
								</div>
								<div class="blog_dt1">
									<div class="blog_body">
										<div class="blog_left">
											<p>By <a href="#">John Doe</a></p>
										</div>
										<div class="blog_right">
											<span>2 October 2018</span>
										</div>
										<h4>Quisque non ipsum at lacus luctus volutpat id ac odio.</h4>
										<p>Mauris sit amet lacus vel purus facilisis cursus sed dignissim dolor. Proin at accumsan augue...</p>
										<a href="/blog_single_view" class="read_btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="blog_item">
								<div class="blog_img1">
									<img src="/images/blog/img-3.jpg" alt="">
								</div>
								<div class="blog_dt1">
									<div class="blog_body">
										<div class="blog_left">
											<p>By <a href="#">John Doe</a></p>
										</div>
										<div class="blog_right">
											<span>2 October 2018</span>
										</div>
										<h4>Quisque non ipsum at lacus luctus volutpat id ac odio.</h4>
										<p>Mauris sit amet lacus vel purus facilisis cursus sed dignissim dolor. Proin at accumsan augue...</p>
										<a href="/blog_single_view" class="read_btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="blog_item">
								<div class="blog_img1">
									<img src="images/blog/img-3.jpg" alt="">
								</div>
								<div class="blog_dt1">
									<div class="blog_body">
										<div class="blog_left">
											<p>By <a href="#">John Doe</a></p>
										</div>
										<div class="blog_right">
											<span>2 October 2018</span>
										</div>
										<h4>Quisque non ipsum at lacus luctus volutpat id ac odio.</h4>
										<p>Mauris sit amet lacus vel purus facilisis cursus sed dignissim dolor. Proin at accumsan augue...</p>
										<a href="/blog_single_view" class="read_btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="blog_item">
								<div class="blog_img1">
									<img src="/images/blog/img-4.jpg" alt="">
								</div>
								<div class="blog_dt1">
									<div class="blog_body">
										<div class="blog_left">
											<p>By <a href="#">John Doe</a></p>
										</div>
										<div class="blog_right">
											<span>2 October 2018</span>
										</div>
										<h4>Quisque non ipsum at lacus luctus volutpat id ac odio.</h4>
										<p>Mauris sit amet lacus vel purus facilisis cursus sed dignissim dolor. Proin at accumsan augue...</p>
										<a href="/blog_single_view" class="read_btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="blog_item">
								<div class="blog_img1">
									<img src="/images/blog/img-5.jpg" alt="">
								</div>
								<div class="blog_dt1">
									<div class="blog_body">
										<div class="blog_left">
											<p>By <a href="#">John Doe</a></p>
										</div>
										<div class="blog_right">
											<span>2 October 2018</span>
										</div>
										<h4>Quisque non ipsum at lacus luctus volutpat id ac odio.</h4>
										<p>Mauris sit amet lacus vel purus facilisis cursus sed dignissim dolor. Proin at accumsan augue...</p>
										<a href="/blog_single_view" class="read_btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="blog_item">
								<div class="blog_img1">
									<img src="/images/blog/img-6.jpg" alt="">
								</div>
								<div class="blog_dt1">
									<div class="blog_body">
										<div class="blog_left">
											<p>By <a href="#">John Doe</a></p>
										</div>
										<div class="blog_right">
											<span>2 October 2018</span>
										</div>
										<h4>Quisque non ipsum at lacus luctus volutpat id ac odio.</h4>
										<p>Mauris sit amet lacus vel purus facilisis cursus sed dignissim dolor. Proin at accumsan augue...</p>
										<a href="/blog_single_view" class="read_btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="main-p-pagination">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Previous">
												PREV
											</a>
										</li>
										<li class="page-item"><a class="page-link active" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">...</a></li>
										<li class="page-item"><a class="page-link" href="#">24</a></li>
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Next">
												NEXT
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>																																										
				</div>																																										
			</div>																																										
		</div>					
	</div>					
</main>
<!-- Body End -->