<!-- Title Start -->
<div class="title-bar">			
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ol class="title-bar-text">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
				</ol>
			</div>		
		</div>		
	</div>		
</div>
<!-- Title Start -->
<!-- Body Start -->	
<main class="browse-section">				
	<div class="container">
		<div class="row">					
			<div class="col-md-12">
				<div class="main-heading">
					<h2>Jobby Privacy Policy</h2>
					<div class="line-shape1">
						<img src="images/line.svg" alt="">
					</div>
				</div>
				<div class="policy_des">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ante erat. Sed commodo ipsum sed augue suscipit, eget malesuada sem dignissim. Cras id lorem sagittis ex convallis rutrum a blandit orci. Curabitur rutrum pretium purus id facilisis. Cras tempus, felis quis fermentum luctus, elit lacus porta lectus, vitae fringilla nisl leo dapibus dolor. Donec convallis finibus velit, et rutrum dolor scelerisque sit amet. Etiam posuere urna sit amet erat imperdiet, eget tempor leo ullamcorper. Nunc laoreet dui eget quam efficitur, non fermentum nisi eleifend. Pellentesque fringilla tortor eget auctor rhoncus. Donec faucibus dui velit, non vulputate ante ultrices sit amet. Praesent risus diam, luctus et dictum ut, lobortis vel mi.</p>
					<div class="policy_des10">
						<h4>1. Personal data collection</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ante erat. Sed commodo ipsum sed augue suscipit, eget malesuada sem dignissim. Cras id lorem sagittis ex convallis rutrum a blandit orci. Curabitur rutrum pretium purus id facilisis. Cras tempus, felis quis fermentum luctus, elit lacus porta lectus, vitae fringilla nisl leo dapibus dolor. Donec convallis finibus velit, et rutrum dolor scelerisque sit amet. Etiam posuere urna sit amet erat imperdiet, eget tempor leo ullamcorper. Nunc laoreet dui eget quam efficitur, non fermentum nisi eleifend. Pellentesque fringilla tortor eget auctor rhoncus. Donec faucibus dui velit, non vulputate ante ultrices sit amet. Praesent risus diam, luctus et dictum ut, lobortis vel mi.</p>							
					</div>
					<div class="policy_des10">
						<h4>2. How Hubstaff collects personal data</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ante erat. Sed commodo ipsum sed augue suscipit, eget malesuada sem dignissim. Cras id lorem sagittis ex convallis rutrum a blandit orci. Curabitur rutrum pretium purus id facilisis. Cras tempus, felis quis fermentum luctus, elit lacus porta lectus, vitae fringilla nisl leo dapibus dolor. Donec convallis finibus velit, et rutrum dolor scelerisque sit amet. Etiam posuere urna sit amet erat imperdiet, eget tempor leo ullamcorper. Nunc laoreet dui eget quam efficitur, non fermentum nisi eleifend. Pellentesque fringilla tortor eget auctor rhoncus. Donec faucibus dui velit, non vulputate ante ultrices sit amet. Praesent risus diam, luctus et dictum ut, lobortis vel mi.</p>							
					</div>
					<div class="policy_des10">
						<h4>3. Your rights and choice</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ante erat. Sed commodo ipsum sed augue suscipit, eget malesuada sem dignissim. Cras id lorem sagittis ex convallis rutrum a blandit orci. Curabitur rutrum pretium purus id facilisis. Cras tempus, felis quis fermentum luctus, elit lacus porta lectus, vitae fringilla nisl leo dapibus dolor. Donec convallis finibus velit, et rutrum dolor scelerisque sit amet. Etiam posuere urna sit amet erat imperdiet, eget tempor leo ullamcorper. Nunc laoreet dui eget quam efficitur, non fermentum nisi eleifend. Pellentesque fringilla tortor eget auctor rhoncus. Donec faucibus dui velit, non vulputate ante ultrices sit amet. Praesent risus diam, luctus et dictum ut, lobortis vel mi.</p>							
					</div>
					<div class="policy_des10">
						<h4>4. Our use and disclosure of your personal data</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ante erat. Sed commodo ipsum sed augue suscipit, eget malesuada sem dignissim. Cras id lorem sagittis ex convallis rutrum a blandit orci. Curabitur rutrum pretium purus id facilisis. Cras tempus, felis quis fermentum luctus, elit lacus porta lectus, vitae fringilla nisl leo dapibus dolor. Donec convallis finibus velit, et rutrum dolor scelerisque sit amet. Etiam posuere urna sit amet erat imperdiet, eget tempor leo ullamcorper. Nunc laoreet dui eget quam efficitur, non fermentum nisi eleifend. Pellentesque fringilla tortor eget auctor rhoncus. Donec faucibus dui velit, non vulputate ante ultrices sit amet. Praesent risus diam, luctus et dictum ut, lobortis vel mi.</p>							
					</div>
					<div class="policy_des10">
						<h4>5. Data storage and security</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ante erat. Sed commodo ipsum sed augue suscipit, eget malesuada sem dignissim. Cras id lorem sagittis ex convallis rutrum a blandit orci. Curabitur rutrum pretium purus id facilisis. Cras tempus, felis quis fermentum luctus, elit lacus porta lectus, vitae fringilla nisl leo dapibus dolor. Donec convallis finibus velit, et rutrum dolor scelerisque sit amet. Etiam posuere urna sit amet erat imperdiet, eget tempor leo ullamcorper. Nunc laoreet dui eget quam efficitur, non fermentum nisi eleifend. Pellentesque fringilla tortor eget auctor rhoncus. Donec faucibus dui velit, non vulputate ante ultrices sit amet. Praesent risus diam, luctus et dictum ut, lobortis vel mi.</p>							
					</div>
					<div class="policy_des10">
						<h4>6. Children and data collection</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ante erat. Sed commodo ipsum sed augue suscipit, eget malesuada sem dignissim. Cras id lorem sagittis ex convallis rutrum a blandit orci. Curabitur rutrum pretium purus id facilisis. Cras tempus, felis quis fermentum luctus, elit lacus porta lectus, vitae fringilla nisl leo dapibus dolor. Donec convallis finibus velit, et rutrum dolor scelerisque sit amet. Etiam posuere urna sit amet erat imperdiet, eget tempor leo ullamcorper. Nunc laoreet dui eget quam efficitur, non fermentum nisi eleifend. Pellentesque fringilla tortor eget auctor rhoncus. Donec faucibus dui velit, non vulputate ante ultrices sit amet. Praesent risus diam, luctus et dictum ut, lobortis vel mi.</p>							
					</div>
					<div class="policy_des10">
						<h4>7. Data integrity</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ante erat. Sed commodo ipsum sed augue suscipit, eget malesuada sem dignissim. Cras id lorem sagittis ex convallis rutrum a blandit orci. Curabitur rutrum pretium purus id facilisis. Cras tempus, felis quis fermentum luctus, elit lacus porta lectus, vitae fringilla nisl leo dapibus dolor. Donec convallis finibus velit, et rutrum dolor scelerisque sit amet. Etiam posuere urna sit amet erat imperdiet, eget tempor leo ullamcorper. Nunc laoreet dui eget quam efficitur, non fermentum nisi eleifend. Pellentesque fringilla tortor eget auctor rhoncus. Donec faucibus dui velit, non vulputate ante ultrices sit amet. Praesent risus diam, luctus et dictum ut, lobortis vel mi.</p>							
					</div>
					<div class="policy_des10">
						<h4>8. Enforcement</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ante erat. Sed commodo ipsum sed augue suscipit, eget malesuada sem dignissim. Cras id lorem sagittis ex convallis rutrum a blandit orci. Curabitur rutrum pretium purus id facilisis. Cras tempus, felis quis fermentum luctus, elit lacus porta lectus, vitae fringilla nisl leo dapibus dolor. Donec convallis finibus velit, et rutrum dolor scelerisque sit amet. Etiam posuere urna sit amet erat imperdiet, eget tempor leo ullamcorper. Nunc laoreet dui eget quam efficitur, non fermentum nisi eleifend. Pellentesque fringilla tortor eget auctor rhoncus. Donec faucibus dui velit, non vulputate ante ultrices sit amet. Praesent risus diam, luctus et dictum ut, lobortis vel mi.</p>							
					</div>
					<div class="policy_des10">
						<h4>9. General information and privacy support contact</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ante erat. Sed commodo ipsum sed augue suscipit, eget malesuada sem dignissim. Cras id lorem sagittis ex convallis rutrum a blandit orci. Curabitur rutrum pretium purus id facilisis. Cras tempus, felis quis fermentum luctus, elit lacus porta lectus, vitae fringilla nisl leo dapibus dolor. Donec convallis finibus velit, et rutrum dolor scelerisque sit amet. Etiam posuere urna sit amet erat imperdiet, eget tempor leo ullamcorper. Nunc laoreet dui eget quam efficitur, non fermentum nisi eleifend. Pellentesque fringilla tortor eget auctor rhoncus. Donec faucibus dui velit, non vulputate ante ultrices sit amet. Praesent risus diam, luctus et dictum ut, lobortis vel mi.</p>							
					</div>
				</div>						
			</div>																																										
		</div>					
	</div>						
</main>
<!-- Body End -->