<!-- Title Start -->
<div class="title-bar">			
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ol class="title-bar-text">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Sign Up</li>
				</ol>
			</div>		
		</div>		
	</div>		
</div>
<!-- Title Start -->
<!-- Body Start -->	
<main class="browse-section">				
	<div class="container">
		<div class="row justify-content-md-center">					
			<div class="col-md-6">
				<div class="lg_form">
					<div class="main-heading">
						<h2>Sign Up to Invest eazzy</h2>
						<div class="line-shape1">
							<img src="/images/line.svg" alt="">
						</div>
					</div>
					<div class="form-group">
						<label class="label15">Email Address*</label>
						<input  type="email" id="email" class="job-input" placeholder="Enter Email Address">
					</div>
					<div class="form-group">
						<label class="label15">Password*</label>
						<input type="password" id="pass"class="job-input" placeholder="Enter Password">
					</div>
					<div class="form-group">
						<label class="label15">Confirm Password*</label>
						<input type="password"id="c_pass" class="job-input" placeholder="Enter Confirm Password">
					</div>
					<div class="ui checkbox apply_check check_out checked">
						<input type="checkbox" tabindex="0" class="hidden">
						<label style="color:#242424 !important;">I accept the Terms of Services</label>
					</div>
					<a href="#" class="lr_btn">Next</a>
					<div class="done140">
						Already have an account?<a href="/sign_in">Sign in Now<i class="fas fa-angle-double-right"></i></a>
					</div>
				</div>						
			</div>																																										
		</div>				
	</div>					
</main>
<!-- Body End -->